[user]
	email = vannicattec@gmail.com
	name = shortcuts

[core]
    pager = delta

[rerere]
    enabled = true

[column]
    ui = auto

[branch]
    sort = committerdate

[interactive]
    diffFilter = delta --color-only

[delta]
    light = false
    line-numbers = true
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[url "git@github.com:"]
	insteadOf = https://github.com/
