# ignore everything but the lines below
/*


# rpi
!rpi
!dnsmasq.conf

# docs
!*.md

# window manager config
!aerospace
!borders

# term
!ghostty
!btop

# nvim config
!nvim
!stylua.toml

# fish config
!fish
fish/fish_variable
!fisher

# pkg manager
!mise

# starship config
!starship.toml

# github workflows
!.git*

# tmux
!tmux
!scripts
