# ignore everything but the lines below
/*

# scripts
!*.sh
!scripts
!Makefile

# rpi
!rpi

# docs
!*.md

# rectangle config
!RectangleConfig.json

# term
iterm2/AppSupport
!alacritty
!ghostty

# nvim config
!nvim

# fish config
!fish

# starship config
!starship.toml

# github workflows
!.git*

# tmux
!tmux

!.sdkmanrc
